<sidebar header="Page Header">
  <sidebar-header>
    <app-header></app-header>
  </sidebar-header>
  <sidebar-body>
    <router-outlet></router-outlet>
  </sidebar-body>

</sidebar>

<div class="container">
  <app-footer></app-footer>
</div>

<!--
<content>
  <sidebar header="Page Header">
    <sidebar-header>
      <a href="#" class="list-group-item list-group-item-action bg-light">Dashboard</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">Shortcuts</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">Overview</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">Events</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">Profile</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">Status</a>
    </sidebar-header>
    <sidebar-body>
      <div class="card-block">
        <h4 class="card-title">You can put any content here</h4>
        <a href="#" class="btn btn-primary">This button</a>
      </div>
    </sidebar-body>
  </sidebar>
</content>
<footer></footer>


<sidebar>
  <sidebar-header>
    New <strong>header</strong>
  </sidebar-header>
  <sidebar-body>
    <div class="card-block">
      <h4 class="card-title">You can put any content here</h4>
      <p class="card-text">For example this line of text and</p>
      <a href="#" class="btn btn-primary">This button</a>
    </div>
  </sidebar-body>

  <sidebar-footer>
    New <strong>footer</strong>
  </sidebar-footer>
</sidebar>


 -->