<div class="sidebar d-flex" id="wrapper">
    <div class="sidebar-header bg-light border-right" id="sidebar-wrapper">
        <div class="list-group list-group-flush">
            <ng-content select="sidebar-header"></ng-content>
        </div>

    </div>
    <div id="page-content-wrapper">
        <nav id="navBarContent" class="navbar navbar-expand-md bg-dark navbar-dark">
            <!-- Brand -->
            <a class="navbar-brand" href="#">navbar</a>

            <!-- Toggler/collapsibe Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <app-menu></app-menu>
            </div>
        </nav>
        <div class="container-fluid">
            <ng-content select="sidebar-body"></ng-content>
        </div>

    </div>
</div>

<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>